<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>背景</title>
</head>
<body>
<!--粒子特效-->
<div th:fragment="Background-01">
    <script type="text/javascript">
        function rgbToString(rgb) {
            rgb += 0.000001;
            var r = parseInt((0.5 + Math.sin(rgb) * 0.5) * 16);
            var g = parseInt((0.5 + Math.cos(rgb) * 0.5) * 16);
            var b = parseInt((0.5 - Math.sin(rgb) * 0.5) * 16);
            return "#" + r.toString(16) + g.toString(16) + b.toString(16);
        }
        //获取rbg数组
        function rgbArray(col) {
            col += 0.000001;
            var r = parseInt((0.5 + Math.sin(col) * 0.5) * 256);
            var g = parseInt((0.5 + Math.cos(col) * 0.5) * 256);
            var b = parseInt((0.5 - Math.sin(col) * 0.5) * 256);
            return [r, g, b];
        }

        function interpolateColors(RGB1, RGB2, degree) {
            var w2 = degree;
            var w1 = 1 - w2;
            return [w1 * RGB1[0] + w2 * RGB2[0], w1 * RGB1[1] + w2 * RGB2[1], w1 * RGB1[2] + w2 * RGB2[2]];
        }

        function colorString(arr) {
            var r = parseInt(arr[0]);
            var g = parseInt(arr[1]);
            var b = parseInt(arr[2]);
            return "#" + ("0" + r.toString(16)).slice(-2) + ("0" + g.toString(16)).slice(-2) + ("0" + b.toString(16)).slice(-2);
        }
    </script>
    <canvas id="wind"></canvas>
    <script type="text/javascript">
        //获取点（x,y,z）与原点的线段与y轴形成的角度大小，特殊情况返回默认值0.00000001;
        function elevation(x, z, y) {
            var dist = Math.sqrt(x * x + y * y + z * z); //获取三维点（x,y,z）与原点距离长
            var num = y / dist; //三维空间的坐标（x,y,z）与原点的的线段和y轴形成的角度的余弦值
            if (dist && num >= -1 && num <= 1) return Math.acos(num); //获取num的反余弦值，即是上述的角度大小
            return 0.00000001;
        }
        //生成颗粒
        function createParticle(vars) {
            var pt = {};
            var p = Math.PI * 2 * Math.random();
            var ls = Math.sqrt(Math.random() * vars.distributionRadius);
            pt.x = Math.sin(p) * ls;
            pt.y = -vars.vortexHeight / 2;
            pt.vy = vars.initV / 20 + Math.random() * vars.initV;
            pt.z = Math.cos(p) * ls;
            pt.radius = 200 + 800 * Math.random();
            pt.color = pt.radius / 1000 + vars.frameNumber / 250;
            vars.points.push(pt);
        }

        function project3D(x, y, z, vars) {
            x -= vars.camX;
            y -= vars.camY - 8;
            z -= vars.camZ;
            var p = Math.atan2(x, z);
            var d = Math.sqrt(x * x + z * z);
            x = Math.sin(p - vars.yaw) * d;
            z = Math.cos(p - vars.yaw) * d;
            p = Math.atan2(y, z);
            d = Math.sqrt(y * y + z * z);
            y = Math.sin(p - vars.pitch) * d;
            z = Math.cos(p - vars.pitch) * d;
            var rx1 = -1000;
            var ry1 = 1;
            var rx2 = 1000;
            var ry2 = 1;
            var rx3 = 0;
            var ry3 = 0;
            var rx4 = x;
            var ry4 = z;
            var uc = (ry4 - ry3) * (rx2 - rx1) - (rx4 - rx3) * (ry2 - ry1);
            var ua = ((rx4 - rx3) * (ry1 - ry3) - (ry4 - ry3) * (rx1 - rx3)) / uc;
            var ub = ((rx2 - rx1) * (ry1 - ry3) - (ry2 - ry1) * (rx1 - rx3)) / uc;
            if (!z) z = 0.000000001;
            if (ua > 0 && ua < 1 && ub > 0 && ub < 1) {
                return {
                    x: vars.cx + (rx1 + ua * (rx2 - rx1)) * vars.scale,
                    y: vars.cy + y / z * vars.scale,
                    d: (x * x + y * y + z * z)
                };
            } else {
                return {
                    d: -1
                };
            }
        }

        function drawSomeFloor(vars, isFalse) {
            for (var i = -25; i <= 25; i++) {
                for (var j = -25; j <= 25; j++) {
                    var x = i * 2;
                    var z = j * 2;
                    var y = -vars.floor;
                    var d = Math.sqrt(x * x + z * z);
                    y = y + d * d / 50; //让上下背
                    if (isFalse) {

                        y = -y;

                    }

                    var point = project3D(x, y, z, vars);

                    if (point.d != -1) {

                        var rgb1, rgb2;
                        var degree;

                        var size = 1 + 15000 / (1 + point.d);

                        var a = 0.15 - Math.pow(d / 50, 4) * 0.15;

                        if (a > 0) {

                            if (isFalse) {

                                rgb1 = rgbArray(d / 26 - vars.frameNumber / 40);

                                rgb2 = [0, 128, 32];

                                degree = .5 + Math.sin(d / 6 - vars.frameNumber / 8) / 2;

                            } else {

                                rgb1 = rgbArray(-d / 26 - vars.frameNumber / 40);

                                rgb2 = [32, 0, 128];

                                degree = .5 + Math.sin(-d / 6 - vars.frameNumber / 8) / 2;

                            }

                            vars.context.fillStyle = colorString(interpolateColors(rgb1, rgb2, degree)); //选色

                            vars.context.globalAlpha = a; //透明度

                            vars.context.fillRect(point.x - size / 2, point.y - size / 2, size, size); //用颜色涂满方框

                        }

                    }

                }

            }

        }

        //绘制背景效果

        function drawFloor(vars) {

            drawSomeFloor(vars, true); //下面背景

            vars.context.fillStyle = "#82f";

            drawSomeFloor(vars, false); //上面背景

        }

        function sortFunction(a, b) {

            return b.dist - a.dist;

        }

        //绘制颗粒

        function drawParticles(vars) {

            vars.context.globalAlpha = .15;

            vars.context.fillStyle = "#000";

            vars.context.fillRect(0, 0, vars.canvas.width, vars.canvas.height);

            var point, x, y, z, a;

            for (var i = 0; i < vars.points.length; ++i) {

                x = vars.points[i].x;

                y = vars.points[i].y;

                z = vars.points[i].z;

                point = project3D(x, y, z, vars);

                if (point.d != -1) {

                    vars.points[i].dist = point.d;

                    size = 1 + vars.points[i].radius / (1 + point.d);

                    d = Math.abs(vars.points[i].y);

                    a = .8 - Math.pow(d / (vars.vortexHeight / 2), 1000) * .8;

                    vars.context.globalAlpha = a >= 0 && a <= 1 ? a : 0;

                    vars.context.fillStyle = rgbToString(vars.points[i].color);

                    if (point.x > -1 && point.x < vars.canvas.width && point.y > -1 && point.y < vars.canvas.height)

                        vars.context.fillRect(point.x - size / 2, point.y - size / 2, size, size);

                }

            }

            vars.points.sort(sortFunction);

        }

        function process(vars) {

            if (vars.points.length < vars.MaxParticles)

                for (var i = 0; i < 5; i++) {

                    createParticle(vars);

                }

            var angle_xz = Math.atan2(vars.camX, vars.camZ) //camX/camZ的反正切值，即对应角度大小

            //也可： var angle_xz = Math.atan(vars.camX/vars.camZ)

            //xz页面上的斜边长

            var hypotenuse_xz = Math.sqrt(vars.camX * vars.camX + vars.camZ * vars.camZ);

            hypotenuse_xz -= Math.sin(vars.frameNumber / 80) / 25;

            var t = Math.cos(vars.frameNumber / 300) / 165;

            vars.camX = Math.sin(angle_xz + t) * hypotenuse_xz;

            vars.camZ = Math.cos(angle_xz + t) * hypotenuse_xz;

            vars.camY = -Math.sin(vars.frameNumber / 220) * 15;

            vars.yaw = Math.PI + angle_xz + t;

            vars.pitch = elevation(vars.camX, vars.camZ, vars.camY) - Math.PI / 2;

            for (var i = 0; i < vars.points.length; ++i) {

                var x = vars.points[i].x;

                var y = vars.points[i].y;

                var z = vars.points[i].z;

                var d = Math.sqrt(x * x + z * z) / 1.0075;

                var t = .1 / (1 + d * d / 5);

                var p = Math.atan2(x, z) + t;

                vars.points[i].x = Math.sin(p) * d;

                vars.points[i].z = Math.cos(p) * d;

                vars.points[i].y += vars.points[i].vy * t * ((Math.sqrt(vars.distributionRadius) - d) * 2);

                if (vars.points[i].y > vars.vortexHeight / 2 || d < .25) {

                    vars.points.splice(i, 1);

                    createParticle(vars);

                }

            }

        }

        //创建设置页面

        function createFrame() {

            var newVars = {};

            newVars.canvas = document.querySelector("canvas"); //回文档中匹配指定 CSS 选择器的一个元素

            newVars.context = newVars.canvas.getContext("2d");

            //设置画布的高和宽

            newVars.canvas.width = document.body.clientWidth;

            newVars.canvas.height = document.body.clientHeight;

            newVars.cx = newVars.canvas.width / 2;

            newVars.cy = newVars.canvas.height / 2;

            //窗体高宽发生改变时，触发事件

            window.onresize = function() {

                //重新再次设置画布的高和宽

                newVars.canvas.width = document.body.clientWidth;

                newVars.canvas.height = document.body.clientHeight;

                newVars.cx = newVars.canvas.width / 2;

                newVars.cy = newVars.canvas.height / 2;

            }

            newVars.frameNumber = 0;

            newVars.camX = 0;

            newVars.camY = 0;

            newVars.camZ = -14;

            newVars.pitch = elevation(newVars.camX, newVars.camZ, newVars.camY) - Math.PI / 2;

            newVars.yaw = 0;

            newVars.bounding = 10;

            newVars.scale = 500;

            newVars.floor = 26.5;

            newVars.points = []; //点集合

            newVars.MaxParticles = 500; //最大数量

            newVars.initV = .01;

            newVars.distributionRadius = 800;

            newVars.vortexHeight = 25;

            return newVars;

        }

        //打开页面

        function OpenFrame(vars) {

            if (vars == undefined) {

                vars = createFrame();

            }

            vars.frameNumber++;

            //页面重绘之前，通知浏览器调用一个指定的函数，以满足开发者操作动画的需求,

            requestAnimationFrame(function() {
                OpenFrame(vars)
            });

            process(vars);

            drawFloor(vars);

            drawParticles(vars);

        }

        OpenFrame();
    </script>
</div>
<!---->
<div th:fragment="Background-02">
    <!-- 粉笔图案模式（pattern）定义, 来自： -->
    <!-- https://codepen.io/shshaw/pen/jmMpmd -->
    <svg style="display: none">
        <filter id="chalk">
            <feTurbulence
                    result="T"
                    numOctaves="3"
                    seed="0"
                    type="fractalNoise"
                    baseFrequency=".4"
            />
            <feOffset dy="-2" dx="-2" />
            <feDisplacementMap
                    in2="T"
                    scale="5"
                    xChannelSelector="R"
                    yChannelSelector="G"
                    in="SourceGraphic"
            />
        </filter>
    </svg>
    <!-- 粉笔图案模式（pattern）定义结束 -->
    <main>
        <!-- 五十音图容器 -->
        <div class="jp-grid">
            <!-- 行元素 -->
            <div class="rower">
                <!-- 发音单元格 -->
                <div class="pro-card-wrapper">
                    <!-- 控制前、后翻转 -->
                    <div class="pro-card">
                        <!-- 平假名 -->
                        <div class="hiragana">
                            <div class="character">あ</div>
                            <div class="romaji">a</div>
                        </div>
                        <!-- 片假名 -->
                        <div class="katakana">
                            <div class="character">ア</div>
                            <div class="romaji">a</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">い</div>
                            <div class="romaji">i</div>
                        </div>
                        <div class="katakana">
                            <div class="character">イ</div>
                            <div class="romaji">i</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">う</div>
                            <div class="romaji">u</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ウ</div>
                            <div class="romaji">u</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">え</div>
                            <div class="romaji">e</div>
                        </div>
                        <div class="katakana">
                            <div class="character">エ</div>
                            <div class="romaji">e</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">お</div>
                            <div class="romaji">o</div>
                        </div>
                        <div class="katakana">
                            <div class="character">オ</div>
                            <div class="romaji">o</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">か</div>
                            <div class="romaji">ka</div>
                        </div>
                        <div class="katakana">
                            <div class="character">カ</div>
                            <div class="romaji">ka</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">き</div>
                            <div class="romaji">ki</div>
                        </div>
                        <div class="katakana">
                            <div class="character">キ</div>
                            <div class="romaji">ki</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">く</div>
                            <div class="romaji">ku</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ク</div>
                            <div class="romaji">ku</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">け</div>
                            <div class="romaji">ke</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ケ</div>
                            <div class="romaji">ke</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">こ</div>
                            <div class="romaji">ko</div>
                        </div>
                        <div class="katakana">
                            <div class="character">コ</div>
                            <div class="romaji">ko</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">さ</div>
                            <div class="romaji">sa</div>
                        </div>
                        <div class="katakana">
                            <div class="character">サ</div>
                            <div class="romaji">sa</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">し</div>
                            <div class="romaji">shi</div>
                        </div>
                        <div class="katakana">
                            <div class="character">シ</div>
                            <div class="romaji">shi</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">す</div>
                            <div class="romaji">su</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ス</div>
                            <div class="romaji">su</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">せ</div>
                            <div class="romaji">se</div>
                        </div>
                        <div class="katakana">
                            <div class="character">セ</div>
                            <div class="romaji">se</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">そ</div>
                            <div class="romaji">so</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ソ</div>
                            <div class="romaji">so</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">た</div>
                            <div class="romaji">ta</div>
                        </div>
                        <div class="katakana">
                            <div class="character">タ</div>
                            <div class="romaji">ta</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ち</div>
                            <div class="romaji">chi</div>
                        </div>
                        <div class="katakana">
                            <div class="character">チ</div>
                            <div class="romaji">chi</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">つ</div>
                            <div class="romaji">tsu</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ツ</div>
                            <div class="romaji">tsu</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">て</div>
                            <div class="romaji">te</div>
                        </div>
                        <div class="katakana">
                            <div class="character">テ</div>
                            <div class="romaji">te</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">と</div>
                            <div class="romaji">to</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ト</div>
                            <div class="romaji">to</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">な</div>
                            <div class="romaji">na</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ナ</div>
                            <div class="romaji">na</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">に</div>
                            <div class="romaji">ni</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ニ</div>
                            <div class="romaji">ni</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ぬ</div>
                            <div class="romaji">nu</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ヌ</div>
                            <div class="romaji">nu</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ね</div>
                            <div class="romaji">ne</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ネ</div>
                            <div class="romaji">ne</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">の</div>
                            <div class="romaji">no</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ノ</div>
                            <div class="romaji">no</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">は</div>
                            <div class="romaji">ha</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ハ</div>
                            <div class="romaji">ha</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ひ</div>
                            <div class="romaji">hi</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ヒ</div>
                            <div class="romaji">hi</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ふ</div>
                            <div class="romaji">fu</div>
                        </div>
                        <div class="katakana">
                            <div class="character">フ</div>
                            <div class="romaji">fu</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">へ</div>
                            <div class="romaji">he</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ヘ</div>
                            <div class="romaji">he</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ほ</div>
                            <div class="romaji">ho</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ホ</div>
                            <div class="romaji">ho</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ま</div>
                            <div class="romaji">ma</div>
                        </div>
                        <div class="katakana">
                            <div class="character">マ</div>
                            <div class="romaji">ma</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">み</div>
                            <div class="romaji">mi</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ミ</div>
                            <div class="romaji">mi</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">む</div>
                            <div class="romaji">mu</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ム</div>
                            <div class="romaji">mu</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">め</div>
                            <div class="romaji">me</div>
                        </div>
                        <div class="katakana">
                            <div class="character">メ</div>
                            <div class="romaji">me</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">も</div>
                            <div class="romaji">mo</div>
                        </div>
                        <div class="katakana">
                            <div class="character">モ</div>
                            <div class="romaji">mo</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">や</div>
                            <div class="romaji">ya</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ヤ</div>
                            <div class="romaji">ya</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">い</div>
                            <div class="romaji">i</div>
                        </div>
                        <div class="katakana">
                            <div class="character">イ</div>
                            <div class="romaji">i</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ゆ</div>
                            <div class="romaji">yu</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ユ</div>
                            <div class="romaji">yu</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">え</div>
                            <div class="romaji">e</div>
                        </div>
                        <div class="katakana">
                            <div class="character">エ</div>
                            <div class="romaji">e</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">よ</div>
                            <div class="romaji">yo</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ヨ</div>
                            <div class="romaji">yo</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ら</div>
                            <div class="romaji">ra</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ラ</div>
                            <div class="romaji">ra</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">り</div>
                            <div class="romaji">ri</div>
                        </div>
                        <div class="katakana">
                            <div class="character">リ</div>
                            <div class="romaji">ri</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">る</div>
                            <div class="romaji">ru</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ル</div>
                            <div class="romaji">ru</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">れ</div>
                            <div class="romaji">re</div>
                        </div>
                        <div class="katakana">
                            <div class="character">レ</div>
                            <div class="romaji">re</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ろ</div>
                            <div class="romaji">ro</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ロ</div>
                            <div class="romaji">ro</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">わ</div>
                            <div class="romaji">wa</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ワ</div>
                            <div class="romaji">wa</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">い</div>
                            <div class="romaji">i</div>
                        </div>
                        <div class="katakana">
                            <div class="character">イ</div>
                            <div class="romaji">i</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">う</div>
                            <div class="romaji">u</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ウ</div>
                            <div class="romaji">u</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">え</div>
                            <div class="romaji">e</div>
                        </div>
                        <div class="katakana">
                            <div class="character">エ</div>
                            <div class="romaji">e</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">を</div>
                            <div class="romaji">o</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ヲ</div>
                            <div class="romaji">o</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rower">
                <div class="pro-card-wrapper">
                    <div class="pro-card">
                        <div class="hiragana">
                            <div class="character">ん</div>
                            <div class="romaji">n</div>
                        </div>
                        <div class="katakana">
                            <div class="character">ン</div>
                            <div class="romaji">n</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 五十音图结束 -->
    </main>
</div>
</body>
</html>
