<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default reclo-nav">
        <div class="container-fluid w">

            <div class="navbar-header" title="怡红院">
                <a class="navbar-brand" th:href="@{/}">
                    <i>怡红院
                    </i>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--                广告-->
                <ul class="nav navbar-nav">
                        <script>
                            function clickNav(label) {
                                gtag('event', 'click', {
                                    'event_category': 'LiNK',
                                    'event_label': label,
                                    'transport_type': 'NAV'
                                })
                            }
                        </script>
                        <li>
                        <button type="button" class="layui-btn layui-btn-primary navigation-top" title="首页"
                                style="border: 0;font-weight: bolder">
                            <a th:href="@{/}">
                                <i class="layui-icon layui-icon-home" style="font-size: 26px;color: #00965E"></i>
                            </a>
                        </button>
                    </li>
                    <li th:each="ads:${session.ads}">
                        <a th:href="${ads.url}" th:text="${ads.title}" th:onclick="clickNav([[${ads.title}]])"></a>
                    </li>
                    <li>
                        <a th:href="@{/videos}">视频教程</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" required placeholder="搜索话题">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search" style="font-size: 17px;color:#299F6A;font-weight: lighter"
                           aria-hidden="true"></i>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user !=null}">
                        <button type="button" class="layui-btn navigation-top">
                            <a th:href="@{/publish}" style="color:#00965E">发布</a>
                        </button>

                    </li>
                    <li th:if="${session.user != null}">
                        <button class="layui-btn navigation-top">
                            <a th:href="@{/profile/replies}">
                                <i class="layui-icon layui-icon-notice" style="color:#00965E"></i>
                                <span class="layui-badge " style="background-color:#00965E " th:text="${session.ToBeViewed}"></span>
                            </a>
                        </button>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <button style="color:#009A61;background-color: #EBF7F3" id="dLabel" type="button"
                                class="layui-btn navigation-top" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span th:text="${session.user.getName()!=null?session.user.getName():'匿名用户'}"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="background-color: #F5F5F5;margin-top: 8px">
                            <li><a th:href="@{/profile/pawn}">文章中心</a></li>
                            <hr class="col-lg-8 col-md-12 col-sm-12 col-xs-12"  style="background-color: #95D1BA">
                            <li>
                                <a th:href="@{/profile/replies}">最新消息
                                    <span class="badge" th:text="${session.ToBeViewed}"
                                          style="background-color: #009A61;margin-left: 2px"></span>
                                </a>
                            </li>
                            <hr class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="background-color: #95D1BA">
                            <li><a th:href="@{/home}">项目文档</a></li>
                            <hr class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="background-color: #95D1BA;">
                            <li><a th:href="@{/logout}">退了</a></li>
                        </ul>
                    </li>
                    </li>
                    <li th:if="${session.user == null}">
                        <button style="color:#FFFFFF;background-color: #EBF7F3" type="button"
                                class="layui-btn navigation-top">

                            <a href="https://github.com/login/oauth/authorize?client_id=Iv1.75c1e6b5781e0b66&state=STATE&
                    redirect_uri=http://localhost:8012/callback&state=1" style="color:#8B5727">登陆
                                <i class="fa fa-github" aria-hidden="true"></i></a>
                        </button>
                    </li>
                    <li th:if="${session.user != null}">
                        <a th:href="@{/home}">
                            <img class="media-object img-circle navigation-top"
                                 style="width: 38px;height: 38px;margin-top: -10px"
                                 th:src="${session.user.getAvatarUrl()!=null?session.user.getAvatarUrl():'/images/defaultAvatar.png'}">
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div th:fragment="sidebar">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 size-coler">
        <div class="layui-field-box fieldset-size">
            <i class="fa fa-address-card-o comment-sp" aria-hidden="true"></i>
            我的订阅
        </div>
        <div class="layui-field-box fieldset-size">
            <i class="layui-icon layui-icon-praise comment-sp"></i>
            近期热门
        </div>
        <div class="layui-field-box fieldset-size">
            <i class="fa fa-globe comment-sp" aria-hidden="true"></i>
            最新类容
        </div>
        <fieldset class=" layui-field-title col-lg-12 col-md-12 col-sm-12 col-xs-12 size-coler">
            <legend>技术频道</legend>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-first-order comment-sp" style="color: #825DC5" aria-hidden="true"></i>
                人工智能
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-sliders comment-sp" style="color: #009BBF" aria-hidden="true"></i>
                Arm大计算
            </div>
        </fieldset>
        <fieldset class=" layui-field-title col-lg-12 col-md-12 col-sm-12 col-xs-12 size-coler">
            <legend>技术社区</legend>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-html5 comment-sp" style="color: #F8E71B" aria-hidden="true"></i>
                前端
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-database comment-sp" style="color: #0052CC" aria-hidden="true"></i>
                后端
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-weixin comment-sp" style="color: #2BA346" aria-hidden="true"></i>
                小程序
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-apple comment-sp" aria-hidden="true"></i>
                ios
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-android comment-sp" style="color: #76C451" aria-hidden="true"></i>
                Android
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-github-alt comment-sp" style="color: #1E94FD" aria-hidden="true"></i>
                AI
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-cloud comment-sp" style="color: #2049F4" aria-hidden="true"></i>
                云计算
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-codiepie comment-sp" style="color: #FFC107" aria-hidden="true"></i>
                游戏
            </div>
            <div class="layui-field-box fieldset-size">
                <i class=" layui-icon layui-icon-auz comment-sp" style="color: #3FA143"></i>
                安全
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-superpowers comment-sp" style="color: #1B7ED9" aria-hidden="true"></i>
                金融科技
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-sitemap comment-sp" style="color: #2096F1" aria-hidden="true"></i>
                区块链
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-github comment-sp" style="color: #77C684" aria-hidden="true"></i>
                开源
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="layui-icon layui-icon-util comment-sp" style="color: #4B91E4"></i>
                工具
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-user-circle comment-sp" style="color: #8B572B" aria-hidden="true"></i>
                程序员
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-industry comment-sp" style="color: #F5A623;" aria-hidden="true"></i>
                行业
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="layui-icon layui-icon-template comment-sp" style="color: #009A61"></i>
                SF官方
            </div>
            <div class="layui-field-box fieldset-size">
                <i class="fa fa-tags comment-sp" aria-hidden="true"></i>
                更多标签
            </div>
        </fieldset>
    </div>
</div>
</body>
</html>
