<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>怡红院</title>
</head>
<script type="application/javascript">
    window.onload = function () {
        let closeable = window.localStorage.getItem("closeable");
        if (closeable == "true") {
            window.close();
            window.localStorage.removeItem("closeable");
        }
    }
</script>
<body>
<!--导入相关依赖-->
<div th:insert="~{publicigation/public:: PublicDependence-01}"></div>
<!--顶部开始-->
<div th:insert="~{publicigation/navigation :: nav}"></div>
<!--顶部结束-->
<!--类容展示区开始-->
<div class="container-fluid main">
    <div class="row w">
        <!--        左侧导航栏-->
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" style="padding: 20px">
            <div th:insert="~{publicigation/navigation :: sidebar}"></div>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="padding: 10px 0 0 30px">
            <div class="layui-carousel" id="test1" style="margin-top: 15px;">
                <div carousel-item="">
                    <div><img th:src="@{/images/img/20200321.jpg}" style="width: 100%;"/></div>
                    <div><img th:src="@{/images/img/20200413.jpg}" style="width: 100%;"/></div>
                    <div><img th:src="@{/images/img/20200429.jpg}" style="width: 100%;"/></div>
                    <div><img th:src="@{/images/img/20200501.jpg}" style="width: 100%;"/></div>
                    <div><img th:src="@{/images/img/20200522.jpg}" style="width: 100%;"/></div>
                </div>
            </div>

            <script>
                layui.use('carousel', function () {
                    var carousel = layui.carousel;
                    //建造实例
                    carousel.render({
                        elem: '#test1'
                        , width: '100%' //设置容器宽度
                        , height: '140px'
                        , arrow: 'always' //始终显示箭头
                        // ,anim: 'fade' //切换动画方式
                    });
                });
                var $ = layui.$, active = {
                    set: function (othis) {
                        var THIS = 'layui-bg-normal'
                            , key = othis.data('key')
                            , options = {};

                        othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                        options[key] = othis.data('value');
                        ins3.reload(options);
                    }
                };
            </script>

            <div class="media" th:each="articleDeList:${articleDetailsDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle"
                             th:src="${articleDeList.avatarUrl}">
                    </a>
                </div>

                <div class="media-body">
                    <h4 class="media-heading bain-2">
                        <a class="a-biaoti" th:href="@{'/question/'+${articleDeList.id}}"
                           th:text="${articleDeList.title}"></a>
                    </h4>
                    <h4 class="media-heading" th:text="${articleDeList.id}" style="float: right"></h4>
                    <span class="hideText" th:text="${articleDeList.description}"></span> </br>
                    <span class="text-desc">
                        <i class="fa fa-user" aria-hidden="true"title="楼主" style="color:#8362C6"></i>
<!--                        <span class="glyphicon glyphicon-user" style="color: darkviolet"></span>-->
                         <span th:text="${articleDeList.name}"></span>&nbsp;
                         <i class="fa fa-eye" aria-hidden="true" title="浏览" style="color: #009BBF"></i>
                       <span th:text="${articleDeList.viewCount}"></span>&nbsp;
                          <i class="fa fa-commenting-o" aria-hidden="true" title="回复"
                             style="color: #009A61;margin-left: 4px;"></i>
                      <span th:text="${articleDeList.replyCount}"></span>&nbsp;
                      <span class="glyphicon glyphicon-thumbs-up" title="点赞"
                            style="color: #009A61;margin-left: 4px;"></span>
                        <span th:text="${articleDeList.likeCount}"></span>&nbsp;
                        <span style="color:#009A61" th:text="${#dates.format(articleDeList.gmtCreate,'yyyy-MM月dd日 ')}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #EBF7F3;">
            </div>
            <!--类容展示区结束-->
            <!--            分页导航开始-->
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">
                    <li th:if="${pages.showPrevious}">
                        <a th:href="@{/(page=${1},title=${title},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pages.showFirstPage}">
                        <a th:href="@{/(page=${pages.page -1},title=${title})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="pagesList:${pages.getPages()}" th:class="${pages.page==page}?'active':''">
                        <a th:href="@{/(page=${pagesList},title=${title},tag=${tag})}" th:text="${pagesList}">

                        </a>
                    </li>

                    <li th:if="${pages.showNext}">
                        <a th:href="@{/(page=${pages.page+1},title=${title},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pages.showEndPage}">
                        <a th:href="@{/(page=${pages.totalPage},title=${title},tag=${tag})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--            分页导航结束-->
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div style="padding: 20px">
                <h4 style="padding-bottom: 10px;color:#009A61;font-weight: bold">怡红院源码仓库地址</h4>
                <a href="https://github.com/mygithubpawn/-"target="_blank" title="怡红院源码github仓库地址">
                    <img class="img-thumbnail question-wechat" th:src="@{/images/img/QRcode.jpg}">
                </a>
                <h4 style="padding-bottom: 10px;color:#009A61;font-weight: bold;margin-top: 20px">怡红院源码仓库地址</h4>
                <a href="https://github.com/mygithubpawn/-"target="_blank" title="怡红院源码github仓库地址">
                    <img class="img-thumbnail question-wechat" th:src="@{/images/img/timg.jpg}">
                </a>
            </div>
            <div style="padding: 0 20px">
                <!--            相关问题-->
                <h4 style="font-weight: bolder">热门标签</h4>
                <ul class="question-related">
                    <li th:each="tag:${tags}" class="index-tag">
                        <span class="label label-info" style="background-color: #2ecc71">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                        <a th:href="@{/(page=${1},title=${title},tag=${tag})}" th:text="${tag}"
                           style="color:#FFFFFF"></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:insert="~{publicigation/footer :: foot}"></div>
</body>
</html>
